@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
  font-family: 'Nunito', sans-serif;
}
body{
  background-color: rgb(94, 5, 203);
}
.popup{
  width:300px;
  height:200px;
  background:#fff;
  border-radius:6px;
  position:absolute;
  top:30%;
  left:38%;
  
  text-align:center;
  padding:0 30px 30px;
  color:#333;
  border-radius:15px;
}
.popup img{
  width: 60px;
  
  margin-top:-30px;
  border-radius: 50%;
  box-shadow:0 2px 5px rgba(0,0,0,0.2);
}
h2{
  padding-top:0;
}
p{
  font-size:18px;

}
button{
  background-color:rgb(94, 5, 203) ;
  border:none;
  color:white;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:30px;
  padding-right:30px;
  
}
